* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
}

body {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

body .container {
  width: 95%;
  max-width: 1440px;
  margin: auto;
  position: relative;
}

body .container nav {
  width: 100%;
  padding: 0px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .container nav .ulcontainer {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .container nav .ulcontainer > img {
  width: 200px;
  padding: 10px 0px;
}

body .container nav .ulcontainer ul {
  list-style-type: none;
  width: 900px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .container nav .ulcontainer ul li {
  font-size: 1.2em;
  margin: 0px 10px;
  display: inline;
  padding: 20px;
  cursor: pointer;
  position: relative;
}

body .container nav .ulcontainer ul li::before {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: 0px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: transparent;
  -webkit-transition: width 0.3s linear;
  transition: width 0.3s linear;
  -webkit-transition: background 0.3s linear;
  transition: background 0.3s linear;
}

body .container nav .ulcontainer ul li:hover::before {
  background-color: #ff7d1a;
}

body .container nav div {
  width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .container nav div img {
  width: 50px;
}

body .container nav div img.cart-logo {
  width: 30px;
  cursor: pointer;
}

body .container section {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .container section .gallery {
  padding: 10px;
  width: 100%;
  height: 80vh;
  display: block;
  max-height: 750px;
  position: relative;
}

body .container section .gallery #screen {
  overflow: hidden;
  margin: auto;
  display: block;
  width: 75%;
  height: 80;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

body .container section .gallery #screen img {
  border-radius: 20px;
  height: auto;
  max-width: 100%;
  max-height: 97%;
}

body .container section .gallery .thumbnails {
  height: 20%;
  width: 70%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .container section .gallery .thumbnails img {
  height: 100px;
  border-radius: 10px;
}

body .container section article span {
  display: block;
  text-transform: uppercase;
}

body .container section article span.orange-text {
  color: #ff7d1a;
  letter-spacing: 2px;
}

body .container section article span.fake-h2 {
  font-weight: bold;
  margin: 20px 0px 40px;
  font-size: 2.5em;
}

body .container section article span.bold {
  font-weight: bold;
  display: inline;
}

body .container section article p {
  display: block;
}

body .container section article .discount-offer {
  margin: 20px 0px 0px;
  font-size: 1.5em;
  width: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .container section article .discount-offer .orange-background {
  background-color: rgba(233, 190, 19, 0.3);
  padding: 5px;
  border-radius: 8px;
}

body .container section article .discount {
  display: block;
  font-size: 1em;
  text-decoration: line-through;
  opacity: 0.8;
}

body .container section article .cashier {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .container section article .cashier .counter {
  background-color: #f3f3f3;
  width: 30%;
  height: 65px;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .container section article .cashier .counter button {
  border: none;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20px;
  height: 20px;
}

body .container section article .cashier .counter button:hover {
  cursor: pointer;
}

body .container section article .cashier .order {
  width: 60%;
  height: 65px;
  border: none;
  background-color: #ff7d1a;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.3em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
}

body .container section article .cashier .order:hover {
  background-color: #ffede0;
}

body .container section article .cashier .order svg {
  margin-right: 20px;
}

body .container section article .cashier .order svg path {
  fill: white;
}

body .container .attribution {
  position: absolute;
  left: 50%;
  bottom: -10px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

body .lightbox {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -52%);
          transform: translate(-50%, -52%);
  height: 95%;
  display: none;
  z-index: 100;
  max-width: 555px;
}

body .lightbox #div {
  width: 20px;
  position: relative;
  left: 95%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 10px;
}

body .lightbox img {
  width: 300px;
}

body .lightbox .relative-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .lightbox .relative-box .small-rounded-btn {
  background-color: white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
}

body .lightbox .relative-box .small-rounded-btn.previous-scroll {
  left: 0px;
}

body .lightbox .relative-box .small-rounded-btn.next-scroll {
  right: 0px;
}

body .lightbox .relative-box .pic {
  padding: 20px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .lightbox .relative-box .pic img {
  width: 500px;
  border-radius: 10px;
}

body .lightbox .thumbnails {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .lightbox .thumbnails img {
  width: 20%;
  border-radius: 10px;
}

body #cart {
  background-color: whitesmoke;
  position: absolute;
  width: 300px;
  top: 80px;
  right: 0%;
  padding: 8px;
  border-radius: 12px;
  height: 160px;
  border: 1px solid black;
  display: none;
  z-index: 10;
}

body #cart #cart-btn {
  width: 97%;
  display: block;
  position: absolute;
  bottom: 8px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 10px;
  border-radius: 8px;
  border: none;
  background-color: #ff7d1a;
}

body #cart .grid #bag .nothing {
  text-align: center;
  margin-top: 20px;
}

body #cart .grid #bag .product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body #cart .grid #bag .product img {
  width: 80px;
  height: 70%;
}

body #cart .grid #bag .product img.trashicon {
  height: 30px;
  width: 25px;
}

body #cart .grid #bag .product .recyclebin {
  width: 20px;
}

.blackscreen {
  top: 0px;
  left: 0px;
}

.black-filter {
  background: black;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.3;
  top: 0px;
}

.closecart {
  width: 100%;
  height: 100%;
  display: none;
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  top: 0px;
  z-index: 9;
}
/*# sourceMappingURL=scssStyle.css.map */