* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  // border: 1px solid black;
  font-family: "Kumbh Sans", sans-serif;
}
body {
  position: relative;
  height: 100vh;
  overflow: hidden;
  .container {
    width: 95%;
    max-width: 1440px;
    margin: auto;
    position: relative;
    nav {
      width: 100%;
      padding: 0px 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .ulcontainer {
        width: 60%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        > img {
          width: 200px;
          padding: 10px 0px;
        }
        ul {
          list-style-type: none;
          width: 900px;
          display: flex;
          justify-content: space-between;
          justify-content: center;
          li {
            font-size: 1.2em;
            margin: 0px 10px;
            display: inline;
            padding: 20px;
            cursor: pointer;
            position: relative;
            &::before {
              content: "";
              width: 100%;
              height: 2px;
              position: absolute;
              bottom: 0px;
              left: 50%;
              transform: translateX(-50%);
              background-color: transparent;
              transition: width 0.3s linear;
              transition: background 0.3s linear;
            }
            &:hover::before {
              background-color: hsl(26, 100%, 55%);
            }
          }
        }
      }
      div {
        width: 150px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        img {
          width: 50px;
          &.cart-logo {
            width: 30px;
            cursor: pointer;
          }
        }
      }
    }
    section {
      margin-top: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      .gallery {
        padding: 10px;
        width: 100%;
        height: 80vh;
        display: block;
        max-height: 750px;
        position: relative;
        #screen {
          overflow: hidden;
          margin: auto;
          display: block;
          width: 75%;
          height: 80;
          display: flex;
          justify-content: flex-end;
          img {
            border-radius: 20px;
            height: auto;
            max-width: 100%;
            max-height: 97%;
          }
        }
        .thumbnails {
          height: 20%;
          width: 70%;
          margin: auto;
          display: flex;
          justify-content: space-between;
          align-items: center;
          img {
            height: 100px;
            border-radius: 10px;
          }
        }
      }

      article {
        span {
          display: block;
          text-transform: uppercase;
          &.orange-text {
            color: hsl(26, 100%, 55%);
            letter-spacing: 2px;
          }
          &.fake-h2 {
            font-weight: bold;
            margin: 20px 0px 40px;
            font-size: 2.5em;
          }
          &.bold {
            font-weight: bold;
            display: inline;
          }
        }
        p {
          display: block;
        }
        .discount-offer {
          margin: 20px 0px 0px;
          font-size: 1.5em;
          width: 170px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          .orange-background {
            background-color: rgba($color: #e9be13, $alpha: 0.3);
            padding: 5px;
            border-radius: 8px;
          }
        }
        .discount {
          display: block;
          font-size: 1em;
          text-decoration: line-through;
          opacity: 0.8;
        }
        .cashier {
          margin-top: 20px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          .counter {
            background-color: rgb(243, 243, 243);
            width: 30%;
            height: 65px;
            border-radius: 15px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            button {
              border: none;
              background-color: transparent;
              display: flex;
              justify-content: center;
              align-items: center;
              width: 20px;
              height: 20px;
              &:hover {
                cursor: pointer;
              }
            }
          }
          .order {
            width: 60%;
            height: 65px;
            border: none;
            background-color: hsl(26, 100%, 55%);
            color: white;
            display: flex;
            justify-content: center;
            font-size: 1.3em;
            align-items: center;
            border-radius: 10px;
            &:hover {
              background-color: hsl(25, 100%, 94%);
            }
            svg {
              margin-right: 20px;
              path {
                fill: white;
              }
            }
          }
        }
      }
    }
    .attribution {
      position: absolute;
      left: 50%;
      bottom: -10px;
      transform: translateX(-50%);
    }
  }
  .lightbox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -52%);
    height: 95%;
    display: none;
    z-index: 100;
    max-width: 555px;
    #div {
      width: 20px;
      position: relative;
      left: 95%;
      transform: translateX(-50%);
      top: 10px;
    }
    img {
      width: 300px;
    }
    .relative-box {
      display: flex;
      justify-content: center;
      align-items: center;
      .small-rounded-btn {
        background-color: white;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        &.previous-scroll {
          left: 0px;
        }
        &.next-scroll {
          right: 0px;
        }
      }
      .pic {
        padding: 20px 0px;
        display: flex;
        justify-content: center;
        img {
          width: 500px;
          border-radius: 10px;
        }
      }
    }
    .thumbnails {
      width: 100%;
      display: flex;
      justify-content: space-between;
      img {
        width: 20%;
        border-radius: 10px;
      }
    }
  }
  #cart {
    background-color: hsl(0, 0%, 96%);
    position: absolute;
    width: 300px;
    top: 80px;
    right: 0%;
    padding: 8px;
    border-radius: 12px;
    height: 160px;
    border: 1px solid black;
    display: none;
    z-index: 10;
    #cart-btn {
      width: 97%;
      display: block;
      position: absolute;
      bottom: 8px;
      left: 50%;
      transform: translateX(-50%);
      padding: 10px;
      border-radius: 8px;
      border: none;
      background-color: #ff7d1a;
    }
    .grid {
      #bag {
        .nothing {
          text-align: center;
          margin-top: 20px;
        }
        .product {
          display: flex;
          justify-content: space-between;
          align-items: center;
          img {
            width:80px;
            height: 70%;
            &.trashicon{
              height: 30px;
              width: 25px;
            }
          }
          .recyclebin {
            width: 20px;
          }
        }
      }
    }
  }
}

.blackscreen {
  top: 0px;
  left: 0px;
}
.black-filter {
  background: black;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.3;
  top: 0px;
}
.closecart {
  width: 100%;
  height: 100%;
  display: none;
  background-color: rgba($color: #000000, $alpha: 0);
  position: absolute;
  top: 0px;
  z-index: 9;
}
