* {
  margin: 0px auto;
  padding: 0px;
  box-sizing: border-box;
}
:root {
  --orange: hsl(26, 100%, 55%);
  --hoverorange: hsl(26, 100%, 65%);
}
body {
  height: 100vh;
  overflow-x: hidden;
  font-family: "Kumbh Sans", sans-serif;
}

.container {
  width: 80%;
  height: 100vh;
  position: relative;
  max-width: 1440px;
}

nav {
  height: 100px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
}
.logo {
  grid-area: logo;
  grid-column-start: 1;
  grid-column-end: 2;
  align-items: center;
  width: 170px;
  
}
.ulcontainer{
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 2;
}
nav div ul {
  list-style-type: none;
  grid-area: ul;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 10px;
  margin-left: 20px;
}

nav div ul li {
  display: inline-block;
  font-size: 15px;
  color: black;
  opacity: 0.8;
  padding: 10px;
  cursor: pointer;
  width: 100%;
  text-align: center;
}
nav div ul li:hover {
  color: var(--orange);
  transition: 0.3s;
}
.avatar {
  width: 50px;
  height: auto;
}
.cart-logo {
  cursor: pointer;
  padding: 8px;
  margin-right: 20px;
}
.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 20px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
  letter-spacing: 2;
  font-weight: bold;
}

hr {
  opacity: 0.5;
}
path {
  fill: white;
}
section {
  margin-top: 70px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 100px;
}
article {
  width: 100%;
  margin-top: 20px;
}
article p {
  font-size: 20px;
  margin-bottom: 30px;
}
.orange-text {
  color: var(--orange);
  font-weight: 700;
  display: block;
  text-transform: uppercase;
  letter-spacing: 1.7px;
  font-size: 12px;
  margin-bottom: -11px;
}
.orange-background {
  background-color: hsl(25, 100%, 94%);
  display: inline;
  margin-left: 10px;
  padding: 5px;
  border-radius: 7px;
  align-items: center;
  letter-spacing: 1px;
}
.bold {
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 5px;
  display: inline-block;
}
.discount {
  font-size: small;
  text-decoration: line-through;
}
.fake-h2 {
  font-weight: 700;
  font-size: 45px;
  display: block;
  margin: 30px 0px;
}

.counter div {
  display: inline;
}
article .order {
  float: right;
  background-color: var(--orange);
  border: none;
  padding: 15px 70px;
  text-align: center;
  font-size: 15px;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}
article .order:hover {
  background-color: var(--hoverorange);
  transition: 0.3s;
}
article .order #69707D {
  fill: white;
}
article .order svg {
  transform: scale(0.7);
  transform: translateY(20%) scale(0.7);
}
.counter {
  background-color: #efefef;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 20%;
  height: 50px;
  text-align: center;
  float: left;
  align-items: center;
}
.counter button {
  width: 100%;
}
.counter button {
  border: none;
  cursor: pointer;
}
.counter button svg path {
  fill: var(--orange);
}
.counter button:hover > svg path {
  fill: var(--hoverorange);
}
#amount {
  line-height: 3;
  font-weight: bold;
}
.gallery{
  min-width: 300px;
}
.gallery div {
  width: 100%;
  overflow: hidden;
}
.gallery  .rightt{
  display: none;
}
.gallery  .leftt{
  display:none;
}
.gallery div img {
  width: 100%;
  border-radius: 20px;
}
.gallery .thumbnails {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  gap: 20px 20px;
  margin-top: 20px;
}
.gallery .thumbnails img {
  border-radius: 10px;
  cursor: pointer;
  border: 2px solid transparent;
}
.gallery .thumbnails img:hover {
  border-color: var(--orange);
  opacity: 0.8;
}
article {
  min-width: 305px;
}
.lightbox {
  width: 45%;
  height: auto;
  opacity: 1;
  z-index: 4;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}
.lightbox img {
  width: 100%;
  border-radius: 5%;
}
.previous-scroll img,
.next-scroll img {
  width: 50%;
}
.lightbox #div {
  width: 17px;
  float: right;
  padding: 2px;
  z-index: 9999;
  cursor: pointer;
  display: block;
}

.lightbox .thumbnails {
  width: 100%;
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
}
.lightbox .thumbnails svg {
  border-radius: 10%;
  border: 2px solid #999999;
  background-color: white;
}
.lightbox .thumbnails img {
  border: 2px solid #999999;
}
.lightbox .thumbnails img:hover {
  transition: 0.3s;
  color: white;
  border-color: var(--orange);
  background: rgba(255, 255, 255, 0.5);
}
.lightbox #div svg path {
  fill: var(--orange);
}

.lightbox svg {
  float: right;
  margin-bottom: 5px;
  cursor: pointer;
  cursor: pointer;
}

.black-filter {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100vh;
  top: 0px;
  z-index: 1;
}
.relative-box {
  position: relative;
  z-index: -1;
}
.small-rounded-btn {
  background-color: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  cursor: pointer;
  position: absolute;
}
.small-rounded-btn img {
  transform: scale(0.5);
}
.previous-scroll {
  top: 50%;
  right: 100%;
  transform: translateX(50%);
}
.next-scroll {
  top: 50%;
  left: 100%;
  transform: translateX(-50%);
}
#cart {
  width: 300px;
  height: 175px;
  position: absolute;
  top: 100px;
  right: 0%;
  background-color: white;
  border-radius: 5%;
  box-shadow: 0px 0px 30px 0px rgb(167, 167, 167);
  z-index: 5;
  display: none;
}
#cart p {
  padding: 13px 5px;
  font-weight: bold;
  letter-spacing: 1.5px;
}

.nothing {
  width: 100%;
  text-align: center;
  display: flex;
  margin-top: 40px;
  justify-content: space-around;
  margin-bottom: 40px;
}
#cart .grid #bag .product {
  display: grid;
  grid-template-columns: 60px 1fr 30px;
  margin-top: 10px;
}
#cart .cart-btn {
  width: 98%;
  display: block;
  margin: 20px auto;
  height: 40px;
  border-radius: 10px;
  border: none;
  background-color: var(--orange);
  color: white;
  font-weight: 400;
  font-size: large;
  cursor: pointer;
  display: none;
}
#cart .cart-btn:hover {
  background-color: var(--hoverorange);
  transition: 0.3s;
}
#cart #bag .product img {
  width: 50px;
}
#cart .grid #bag .product p {
  font-size: 12px;
  letter-spacing: 1px;
  color: rgba(0, 0, 0, 0.8);
  padding: 5px 0px 0px 0px;
}
#cart .grid #bag .product span {
  color: rgba(0, 0, 0, 0.8);
  font-size: 12px;
  margin-top: -10px;
}
#cart .grid #bag .product span strong {
  color: black;
  margin-left: 5px;
  font-size: medium;
}
#cart .grid #bag .product div svg {
  margin-top: 15px;
}
#cart .grid #bag .product svg path {
  fill: grey;
}
#cart .grid #bag .product svg {
  cursor: pointer;
}
#cart .grid #bag .product .rightt {
  display: none;
}
#cart .grid #bag .product .leftt {
  display: none;
}

.closecart {
  width: 100%;
  height: 100%;
  background-color: #efefef;
  opacity: 0%;
  display: none;
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: 1;
}
.recyclebin{
  width: 12px;
  height: 16px;
}

#cartIcone{
  position: relative;
}

#red-circle{
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
  position: absolute;
  top: 0%;
  right: 20px;
  display: none;
}

/*
*
*
*
*
*
*
*
*/

/* Mobile design */

@media only screen and (max-width: 900px) {
  section{
    column-gap: 30px;
  }
  nav{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  nav div ul {
    column-gap: 0px;
    margin: 0px 10px;
  }
}

/*
*
*
*
*
*
*
*
*/


@media only screen and (max-width: 720px) {
  article .order{
    padding:15px 50px ;
    float: left;
    margin-left: 10px;
  }
}

/*
*
*
*
*
*
*
*
*/

@media only screen and (max-width: 600px) {
  .container{
    width: 100%;
    display: block;
    margin: auto;
  }
  p, h1 , h2, span, .fake-h2 {
    margin-left: 15px;
  }
  nav {
    width: 100%;
    height: 55px;
    position: sticky;
    top: 0%;
    background-color: white;
    z-index: 99999;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  nav .ulcontainer{
    display: none;
    width: 80%;
    height: 100vh;
    position: absolute;
  }
  nav .ulcontainer ul{
    display: block;
    width: 100%;
  }
  nav .ulcontainer ul li{
    display: block;
    width: 100%;
  }
  .logo{
    flex-grow: 2;
    max-width: 265px;
  }
  .cart-logo {
    cursor: pointer;
    padding: 8px;
    margin-right: 0px;
    flex-grow: 1;
  }
  #red-circle{
    right: 0px;
  }
  section{
    display: block;
  }
  .gallery{
    width: 100%;
  }
  section .gallery .thumbnails{
    display: none;
  }
  article .discount{
    display: inline;
    position: absolute;
    right: 20px
    
  }
  article .counter{
    display: block;
    width: 90%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  article .counter .left-btn{
    position: absolute;
    left: 10%;
    width: 10%;
    transform: translateX(-50%);
    height: 100%;
  }  
  article .counter .right-btn{
    position: absolute;
    right: 10%;
    transform: translateX(50%);
    height: 100%;
    width: 10%;
  }
  .order{
    width: 90%;
    display: block;
    margin: 0px auto;
    margin-bottom: 30px;
    margin-right: 6%;
    margin-top: 70px;
  }
  #cart{
    width: 90%;
    display: none;
    position: absolute;
    left: 50%;
    top: 100px;
    transform: translateX(-50%);
  }
  .gallery {position: relative;}
  .gallery  .rightt, .gallery .leftt{
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height:50px;
    border-radius: 50%;
  }
  .gallery  .leftt{
    left: 2%;
  }
  .gallery  .rightt{
    right: 2%;
  }
  #screen .rightt,#screen .leftt{
    display: none;
  }
  .gallery div img{border-radius: 0px;}
  #cart{
    height: auto;
  }
  #cart .grid #bag .product {
    display: grid;
    grid-template-columns: 60px 1fr 30px;
    margin-top: 10px;
    max-width: 85%;
  }
  #cart .cart-btn {
    display: block;
    margin: 20px auto;
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color: var(--orange);
    color: white;
    font-weight: 400;
    font-size: large;
    cursor: pointer;
    display: none;
    max-width: 85%;
    margin-bottom: 30px;
  }
  .lightbox {
    width: 80%;
    height: auto;
  }
}




